---
layout: default
title: Edwin Guo's Blog
---

<div id="home">
  {% for category in site.categories %}
	<h1>{{ category | first | capitalize }} <span>({{ category | last | size }})</span></h1> 
	<ul class="posts">
    {% for post in category.last %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
	</ul>
  {% endfor %}

  <h1>My Open Source Projects</h1>
  <ul class="posts">
    <li><a href="https://github.com/gqjjqg/android-extend">android-extend</a> A usefully, simple widget project for android developer.</li>
  </ul>
</div>
